{% extends "base.html" %}
{% block content %}

<div class="glass p-6 rounded-lg max-w-3xl mx-auto">
  <h1 class="text-2xl font-semibold mb-4">
    {% if mode == "create" %}Create Post{% else %}Edit Post{% endif %}
  </h1>

  <form method="post" enctype="multipart/form-data" class="space-y-4">

    <div>
      <label class="block text-sm text-gray-300 mb-1">Title</label>
      <input name="title" type="text" value="{{ post.title if post else '' }}"
             class="w-full px-3 py-2 rounded-md bg-[#1e1e1e] border border-white/20 text-gray-100">
    </div>

    <div>
      <label class="block text-sm text-gray-300 mb-1">Content</label>
      <textarea name="content" rows="6"
                class="w-full px-3 py-2 rounded-md bg-[#1e1e1e] border border-white/20 text-gray-100">{{ post.content if post else '' }}</textarea>
    </div>

    <div class="border border-white/20 rounded-md p-3">
      <label class="block text-sm text-gray-300 mb-1">Upload Image</label>
      <input name="photo" type="file" class="w-full text-gray-200 bg-[#1e1e1e]">
    </div>

    <div class="border border-white/20 rounded-md p-3">
      <label class="block font-semibold text-gray-300">Audio (optional), <span class="text-sm">Audio Record or Music</span></label>
      <input type="file" name="audio" accept="audio/*"
       class="w-full bg-[#1e1e1e] text-gray-200" />
    </div>
    


    {% if post %}
      <div class="mt-4">
        <p class="text-sm text-gray-300 mb-2">Current Image:</p>
        <img src="{{ post.image_path }}" class="w-56 rounded shadow">
      </div>
    {% endif %}

    <button class="px-4 py-2 rounded-md bg-white text-black">
      {% if mode == "create" %}Create{% else %}Save{% endif %}
    </button>
  </form>
</div>

{% endblock %}
