{% extends "base.html" %}
{% block content %}


<div class="mb-6 md:flex justify-between items-center">
  <h1 class="text-2xl mb-3 md:mb-0 font-semibold">All Posts</h1>

  <form action="/search" method="get" class="flex items-center space-x-2">
    <input type="text" name="q" placeholder="Search posts..."
           class="bg-[#2b2b2b] w-[30rem] text-gray-200 placeholder-gray-500 px-3 py-2 rounded-md border border-white/20">
    <button class="px-3 py-2 rounded-md bg-white text-black">Search</button>
  </form>
</div>

{% if posts|length == 0 %}
  <div class="w-full bg-[#2b2b2b] border border-white/20 p-6 rounded-lg text-gray-300">No posts yet.</div>
{% else %}
  <div class="grid grid-cols-1 sm:grid-cols-3 gap-6">
    {% for post in posts %}
      <a href="/post/{{ post.id }}" class="block bg-[#383838] rounded-lg overflow-hidden">
        <img src="{{ post.image_path }}" class="w-full h-48 object-cover">
        <div class="p-4">
          <h2 class="text-lg font-semibold">{{ post.title }}</h2>
          <p class="text-sm text-gray-400 mt-2 line-clamp-3">{{ post.content }}</p>
        </div>
      </a>
    {% endfor %}
  </div>
{% endif %}

{% endblock %}
