<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[#0f0f0f] text-gray-200 flex items-center justify-center min-h-screen">

    <div class="max-w-md text-center">

        <h1 class="text-[7rem] font-bold text-white/50 mb-2">404</h1>
        <p class="text-gray-300 mb-6 text-md md:text-lg">
            The page you're looking for does not exist.
        </p>

        <a href="/" 
           class="inline-block bg-white hover:bg-white/80 transition text-black px-6 py-3 rounded-lg">
            Go Back Home
        </a>
    </div>

</body>
</html>
